*{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #f2f2f2;
}

.App {
  display: flex;
}

main {
  width: 100%;
}

header {
  background-color: orange;
  height: 80px;
}
.menu {
  height: 100vh;
  width: 60px;
  background-color: #cecece;
}
.tasks-lists {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


