body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-color: transparent;
    background: transparent;
    font-size: 20px;
}
img{
    width: 30px;
    margin-left: auto;
    margin-right: 10px;
}